target
*.class
token.yaml
env/envvars
env/extravars
env/extravars.*
!env/extravars.example
project/keys
!project/keys/README.md
project/.ansible
out/**
!out/.gitkeep
artifacts/**
!artifacts/.gitkeep
**/inventory/hostsdocs.old
**/inventory/hosts.yml
.cache
!cluster/inventory/hosts
cluster/inventory/host_vars/*
!cluster/inventory/host_vars/cloud-vars.example
!hosts.yaml.example
!cluster/project/playbook.yml
**/.kube/*
**/.ansible
cluster/project/bin/*
cluster/project/.argocd/*
!cluster/project/bin/.gitkeep
**/*.log
**/.workshopper/**