all:
   hosts:
      # Google Cloud
      gcp:
        ansible_host: localhost 
        # The OpenShift API Server
        api_server: <GCP API SERVER>
        # The OpenShift Admin User to use for installing operators
        openshift_admin_user: <GCP OpenShift Admin User typically kubeadmin>
        # the OpenShift Admin User password, 
        openshift_admin_password: <GCP OpenShift Admin User Password>
        # The OpenShift Cloud Profile
        cloud_profile: gcp 
        # If creating extra admin user ocpadmin the password to use
        ocpadmin_password: adminPa55word!
        # If creating extra users,the user default password
        user_password: pa55word!
        #####################
        ### Hybrid Cloud Application Configuration
        #####################
        # type of backend application knative or vanilla
        backend_type: knative
        # The application components that cloud will be tagged to
        # front, backend are possible list of values
        tiers:
          - backend
        # The Cloud where Skupper Site token will be created
        create_site_token: no        
      # AWS Cloud - use the keys as above and update the values corresponding
      # to the cloud
      # aws: {}
      # Azure Cloud
      # azr: {}
      # IBM Cloud
      # ibm: {}